@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    h1{
        @apply text-3xl font-bold;
    }

    h2{
        @apply text-2xl font-bold;
    }

    h3{
        @apply text-xl font-bold;
    }

    h4{
        @apply text-lg font-bold;
    }

    h5{
        @apply text-sm font-bold;
    }

    h6{
        @apply text-xs font-bold;
    }

    ul{
        @apply list-disc ml-5;
    }

    ol{
        @apply list-decimal ml-5;
    }

    pre{
        @apply p-4 my-2 rounded-md overflow-auto;
    }

    code{
        @apply bg-primaryBg px-1 py-0.5 rounded-md;
    }

    a{
        @apply underline
    }

    blockquote{
        @apply ml-7 my-4 pl-3 py-3 border-l-4 border-primaryTxt;
    }

    input{
        @apply z-10;
    }

    iframe{
        @apply min-w-full min-h-full overflow-visible;
    }

    .single-question-content p,
    .preview-container p{
        @apply my-3;
    }

    .logo{
        @apply text-white text-3xl italic -translate-y-1 no-underline
        hover:cursor-pointer;
    }

    .header-icon{
        @apply fill-primaryTxt h-full w-[32px] transition hover:opacity-70
        hover:cursor-pointer;
    }

    .notifications-icon{
        @apply relative after:content-[attr(after)] after:absolute after:top-0
        after:right-0 after:bg-red-600 after:text-white after:text-xs
        after:text-center after:align-middle after:rounded-full after:h-4 after:w-4 ;
    }

    .app-container{
        @apply bg-secondaryBg min-h-full flex flex-col justify-between
        gap-10;
    }

    .content{
        @apply min-h-full flex-1 flex justify-around;
    }

    .loader{
        @apply absolute left-1/2 top-1/2;
    }

    .error404-title{
        @apply register-title;
    }

    .main-header{
        @apply bg-primaryBg text-primaryTxt w-full p-5;
    }

    .main-footer{
        @apply bg-primaryBg w-full py-5 top-full 
        text-primaryTxt text-xl text-center;
    }

    .header-inner{
        @apply container mx-auto h-full flex gap-16 items-center md:justify-start 
        justify-between;
    }

    nav{
        @apply md:w-full;
    }

    .navbar{
        @apply md:flex md:static md:flex-row items-center md:justify-between
        md:p-0 md:bg-transparent hidden bg-primaryBg flex-col gap-2 absolute
        p-5 bg-opacity-80 md:w-full;
    }

    .navbar-active{
        @apply md:right-auto md:translate-y-0 right-0 flex translate-y-5 z-20;
    }

    .hidden-icon{
        @apply md:hidden block;
    }

    .navbar-links{
        @apply flex md:flex-row md:gap-6 items-center flex-col gap-2;
    }

    .header-navlink{
        @apply transition-all hover:opacity-70 uppercase tracking-wider
        no-underline;
    }

    .buttons{
        @apply flex md:flex-row md:gap-3 flex-col gap-2;
    }

    .header-button{
        @apply bg-transparent border-2 border-primaryTxt
        rounded-md px-6 py-1 transition-all hover:bg-primaryTxt
        hover:text-primaryBg hover:cursor-pointer capitalize
        no-underline;
    }

    .register-form{
        @apply w-3/5 mx-auto flex flex-col items-center gap-8;
    }

    .register-title{
        @apply text-5xl text-primaryTxt text-center mb-3 font-bold;
    }

    .submit-button-with-subtext{
        @apply flex flex-col items-center gap-3;
    }

    .subtext{
        @apply text-sm text-secondaryTxt;
    }

    .subtext-link{
        @apply underline hover:text-primaryTxt;
    }

    .form{
        @apply flex flex-col gap-4 w-full;
    }

    .form-field{
        @apply flex flex-col gap-2 w-full items-center;
    }

    .field-container{
        @apply relative w-full flex justify-center items-center;
    }

    .field{
        @apply w-64 bg-primaryBg text-primaryTxt border-2
        border-secondaryTxt rounded-md px-4 py-2
        focus:outline-none focus:border-primaryTxt
        placeholder:text-secondaryTxt placeholder:opacity-70;
    }

    .field-error{
        @apply absolute text-red-500 text-sm ml-4;
    }

    .creation-field-container{
        @apply flex flex-col gap-2 relative;
    }

    .creation-label{
        @apply text-primaryTxt text-xl;
    }

    .creation-input-container{
        @apply w-full flex items-center relative;
    }

    .creation-error{
        @apply text-red-500 text-sm absolute left-[100%] ml-5 w-40;
    }

    .submit-button{
        @apply w-32 max-h-12 text-center text-primaryBg
        capitalize rounded-md px-6 py-2 transition-all
        bg-primaryTxt hover:opacity-70 hover:cursor-pointer
        whitespace-nowrap;
    }

    .modal{
        @apply top-0 bottom-0 right-0 left-0 fixed
        bg-black bg-opacity-70 items-center
        transition hidden z-50;
    }

    .modal.active{
        @apply flex;
    }

    .modal-content{
        @apply p-10 bg-primaryBg mx-auto opacity-100
        text-primaryTxt text-xl relative rounded-md;
    }

    .modal-buttons{
        @apply flex flex-row justify-center gap-5 mt-5;
    }

    .ex{
        @apply absolute top-1.5 right-1.5 w-[20px] h-[20px]
        hover:cursor-pointer hover:opacity-70 transition;
    }

    .ex-1{
        @apply absolute w-[2px] h-5 bg-primaryTxt
        rotate-45 translate-x-[10px];
    }

    .ex-2{
        @apply absolute w-[2px] h-5 bg-primaryTxt
        rotate-[-45deg] translate-x-[10px];
    }
    
    .questions-container{
        @apply lg:w-3/5 container mx-auto flex flex-col gap-4 px-2;
    }

    .questions-title{
        @apply text-4xl text-primaryTxt font-bold;
    }

    .options{
        @apply flex md:flex-row flex-col my-5 gap-4 justify-between flex-wrap;
    }

    .options-sort{
        @apply flex gap-3 flex-wrap;
    }

    .question-container{
        @apply relative w-full p-5 pl-10 overflow-hidden
        border-2 bg-primaryBg border-secondaryTxt
        rounded-md text-primaryTxt flex flex-col gap-3
        z-10;
    }

    .question-title{
        @apply text-primaryTxt text-2xl font-bold
        hover:underline hover:cursor-pointer max-w-[80%];
    }

    .question-tag{
        @apply bg-primaryTxt border-2 border-primaryTxt
        rounded-md py-px px-2 text-secondaryBg text-sm
        font-bold transition whitespace-nowrap;
    }

    .active-tag{
        @apply bg-secondaryTxt hover:cursor-pointer hover:bg-primaryTxt;
    }
    
    .question-views{
        @apply absolute right-0 top-0 m-5;
    }

    .options-container{
        @apply flex;
    }

    .account-container{
        @apply md:w-1/2 container h-fit py-10 px-5 mx-auto flex md:flex-row gap-5 text-primaryTxt
        justify-center flex-col w-full;
    }

    .account-img-block{
        @apply min-w-fit h-fit rounded-md flex flex-col gap-2 items-center;
    }

    .account-img{
        @apply min-w-[200px] min-h-[200px] max-w-[200px] max-h-[200px] border-2
        border-primaryTxt rounded-md;
    }

    .account-about{
        @apply h-fit px-5 py-3 flex flex-col gap-7;
    }
    
    .account-about-block{
        @apply flex flex-col gap-4;
    }

    .account-field-block{
        @apply flex flex-wrap md:flex-nowrap items-end gap-3;
    }

    .account-field-with-label{
        @apply flex flex-col;
    }

    .account-field-with-label input{
        @apply h-10;
    }

    .account-field-with-label span:first-child{
        @apply text-lg;
    }

    .account-change-password-title{
        @apply text-2xl font-bold text-center;
    }

    .account-title{
        @apply text-3xl text-center font-bold text-primaryTxt;
    }

    .account-question{
        @apply w-2/3 bg-primaryBg py-3 px-5 text-lg text-primaryTxt
        border-secondaryTxt border-2 rounded-md transition
        hover:border-primaryTxt hover:bg-opacity-70 hover:cursor-pointer;
    }

    .add-question-container{
        @apply md:w-1/2 container mx-auto;
    }

    .single-question-container{
        @apply md:w-1/2 container mx-auto text-primaryTxt px-2;
    }

    .single-question-header{
        @apply flex flex-row justify-between gap-16 items-center;
    }

    .single-question-title{
        @apply text-3xl font-bold break-all;
    }

    .single-question-info{
        @apply flex gap-5 mt-2 font-bold text-secondaryTxt;
    }

    .single-question-views{
        @apply w-14 text-center;
    }

    .single-question-by-link{
        @apply text-primaryTxt hover:underline;
    }

    .single-question-hr{
        @apply mt-3 border-t-2 border-primaryTxt;
    }

    .single-question-content{
        @apply my-10 break-words;
    }

    .dropdown{
        @apply bg-primaryBg p-2 border-2 w-32
        border-secondaryTxt rounded-md text-center text-primaryTxt
        transition focus:outline-none focus:border-primaryTxt
        hover:cursor-pointer hover:border-primaryTxt;
    }

    .search-field{
        @apply field w-full md:w-auto;
    }

    .textarea-container{
        @apply flex flex-col gap-2;
    }

    .textarea-label{
        @apply text-primaryTxt text-xl;
    }

    .textarea-field-container{
        @apply w-full flex items-center relative;
    }

    .textarea-field{
        @apply bg-primaryBg text-primaryTxt border-2
        border-secondaryTxt rounded-md w-full h-32 px-4
        py-2 focus:outline-none focus:border-primaryTxt;
    }

    .textarea-errors{
        @apply text-red-500 text-sm absolute left-[100%] ml-5 w-40;
    }

    .editor-wrapper{
        @apply bg-primaryBg border-2 border-primaryTxt rounded-md;
    }

    .editor-text{
        @apply px-5 bg-primaryBg w-full text-primaryTxt;
    }

    .preview-container{
        @apply border-2 border-primaryTxt rounded-md min-h-[40px]
        mt-3 text-primaryTxt p-4 break-words overflow-x-auto;
    }

    .user-options-container{
        @apply flex flex-col gap-2;
    }

    .icon-container{
        @apply border-[1px] p-1 rounded-md transition
        hover:opacity-70 hover:cursor-pointer;
    }

    .trash{
        @apply border-[1px] border-[#fa314a] p-1 rounded-md transition
        hover:opacity-70 hover:cursor-pointer hover:bg-[#fa314a];
    }

    .icon{
        @apply transition group-hover:fill-primaryBg;
    }

    .comment-container{
        @apply flex flex-col my-5 border-2 border-primaryTxt rounded-md;
    }

    .comment-header{
        @apply relative flex p-3 items-center font-bold justify-between;
    }

    .comment-author-link{
        @apply text-lg transition hover:opacity-70;
    }

    .comment-options{
        @apply flex items-center gap-6;
    }

    .comment-answer{
        @apply text-xl text-green-700 transition hover:opacity-70 hover:cursor-pointer;
    }

    .comment-not-answer{
        @apply text-shadow text-transparent hover:opacity-100
        hover:text-primaryTxt;
    }

    .comment-content{
        @apply p-3 break-words overflow-y-auto;
    }

    .add-comment-buttons{
        @apply mt-6 w-full flex gap-3;
    }

    .text-shadow{
        text-shadow: -1px 0 #F9AE74, 0 1px #F9AE74, 1px 0 #F9AE74, 0 -1px #F9AE74;
    }

    .transparent-button{
        @apply bg-transparent border-2 border-primaryTxt text-primaryTxt
        hover:bg-primaryTxt hover:text-primaryBg hover:opacity-100;
    }

    .notifications-container{
        @apply absolute w-full h-full md:h-screen bg-transparent left-0 top-0;
    }

    .notifications{
        @apply min-w-[32rem] max-h-60 overflow-y-scroll absolute bg-primaryBg p-3
        border-2 border-primaryTxt rounded-md -translate-x-[100%] flex flex-col
        items-center z-20;
    }

    .notification{
        @apply w-[95%] border-b-[1px] border-secondaryTxt py-3 text-center
        hover:underline hover:cursor-pointer;
    }

    .arrow-back{
        @apply h-11 w-11 border-[1px] border-primaryTxt rounded-3xl
        transition hover:bg-primaryTxt hover:cursor-pointer;
    }

    .arrow-back div{
        @apply rounded-xl;
    }

    .arrow-side{
        @apply bg-primaryTxt h-1 w-3.5 translate-x-2.5 transition group-hover:bg-secondaryBg;
    }

    .arrow-top{
        @apply arrow-side -rotate-45 translate-y-3.5;
    }

    .arrow-bot{
        @apply arrow-side rotate-45 translate-y-[18px];
    }

    .arrow-mid{
        @apply arrow-side w-6 translate-y-4;
    }

    .welcome-container{
        @apply lg:w-3/5 container text-primaryTxt flex flex-col gap-10;
    }

    .welcome-title{
        @apply text-5xl text-center;
    }

    .welcome-list-title{
        @apply text-center text-5xl font-bold mb-5;
    }

    .welcome-list{
        @apply flex flex-wrap gap-5 justify-center mt-10;
    }

    .welcome-list > a{
        @apply flex flex-col md:basis-[30%] sm:basis-[40%] basis-[80%] items-center justify-center h-48 px-5
        text-center border-2 border-secondaryTxt rounded-md bg-primaryBg
        transition hover:bg-opacity-70 hover:border-primaryTxt hover:cursor-pointer
        no-underline min-w-[180px];
    }

    .welcome-list > a > div:first-child{
        @apply text-white underline italic;
    }

    .article-header{
        @apply flex flex-col gap-5 justify-center items-center;
    }

    .article-title{
        @apply questions-title mb-0;
    }

    .no-articles{
        @apply error404-title mt-10 text-3xl;
    }

    .articles-block{
        @apply flex flex-wrap gap-5 justify-center mt-10 w-full;
    }

    .article-block{
        @apply md:basis-[23%] sm:basis-[40%] basis-[80%] min-w-[240px] h-40 min-h-fit border-2
        border-secondaryTxt rounded-md text-primaryTxt bg-primaryBg px-5 py-3
        transition hover:bg-opacity-70 hover:border-primaryTxt hover:cursor-pointer
        break-words overflow-y-hidden flex flex-col justify-between gap-2;
    }

    .article-block-title{
        @apply max-h-[80%] overflow-y-hidden;
    }

    .article-block h4{
        @apply text-center break-all;
    }

    .article-block-data{
        @apply flex items-center max-h-[19%] gap-2 justify-between
        text-secondaryTxt;
    }

    .article-block-rating{
        @apply flex items-center gap-0.5;
    }

    .article-icon{
        @apply fill-secondaryTxt w-[32px] h-[32px];
    }

    .article-icon.active{
        @apply transition hover:fill-primaryTxt hover:cursor-pointer;
    }

    .single-article-container{
        @apply md:w-3/5 container mx-auto text-primaryTxt px-2;
    }

    .single-article-info-block{
        @apply w-full flex justify-between gap-16 items-center;
    }

    .single-article-info-block h1{
        @apply break-all;
    }

    .single-article-info{
        @apply flex flex-col gap-5;
    }

    .single-article-stats{
        @apply flex items-center gap-5 text-secondaryTxt font-bold;
    }

    .chat-container{
        @apply max-h-[75vh] flex flex-col container lg:w-3/5 xl:w-2/5 text-primaryTxt px-2;
    }

    .chat-messages-block{
        @apply flex flex-col max-h-full overflow-y-auto flex-1 border-[1px] border-primaryTxt
        rounded-md py-2 px-3;
    }

    .message{
        @apply my-1 max-w-full w-fit py-2 px-3 rounded-md break-words bg-secondaryTxt
        text-primaryBg relative;
    }

    .message-left{
        @apply message self-start;
    }

    .message-right{
        @apply message self-end text-right;
    }

    .message-center{
        @apply py-2 self-center relative;
    }

    .message-input{
        @apply flex;
    }

    .message-input input{
        @apply flex-1;
    }

    .message-time{
        @apply text-xs right-0 text-secondaryBg;
    }

    .admin-container{
        @apply w-full max-h-[75vh] border-y-2 border-primaryTxt flex;
    }

    .admin-menu{
        @apply border-r-2 border-primaryTxt w-[180px] flex
        flex-col bg-primaryBg;
    }

    .admin-model-container{
        @apply flex-1 overflow-auto;
    }

    .admin-logo{
        @apply leading-3 flex flex-col px-2 py-3 items-center border-b-2
        border-primaryTxt;
    }

    .admin-logo span:first-child{
        @apply translate-y-[5px];
    }

    .admin-sub{
        @apply text-base text-secondaryTxt -translate-y-[5px] italic;
    }

    .admin-models-names-container{
        @apply flex flex-col flex-1;
    }

    .admin-model-title{
        @apply border-primaryBg border-y-[1px] text-primaryTxt text-center
        transition hover:cursor-pointer hover:border-primaryTxt;
    }

    .admin-model-title span {
        @apply py-2 px-4 inline-block w-full h-full border-r-2 border-r-primaryBg
        transition hover:translate-x-[2px];
    }

    .admin-model-title-active{
        @apply translate-x-[2px];
    }

    .admin-table{
        @apply border-y-2 border-primaryTxt w-full text-center;
    }

    .admin-table th{
        @apply border-2 py-2 px-4 border-primaryTxt text-primaryTxt uppercase 
        break-words bg-primaryBg;
    }

    .admin-table td{
        @apply py-2 px-4 border-x border-secondaryTxt text-secondaryTxt break-all;
    }

    .admin-table tr th:first-child, 
    .admin-table tr td:first-child{
        @apply border-l-0;
    }

    .admin-table tr th:last-child, 
    .admin-table tr td:last-child{
        @apply border-r-0;
    }

    .admin-table tbody tr:nth-child(2n) td{
        @apply bg-primaryBg;
    }

}

#root {
    height: 100vh;
}

::selection{
    background-color: #F9AE74;
    color: #22202B;
}

.rdw-editor-toolbar{
    background-color: #F9AE74 !important;
    border: none !important;
}

.rdw-option-wrapper{
    background-color: #F9AE74 !important;
    border: 1px solid #22202B !important;
    transition: .2s;
}

.rdw-option-wrapper:hover{
    box-shadow: 0 1px 3px #22202B !important;
    transition: .2s;
}

.rdw-option-active{
    box-shadow: 0 1px 3px #22202B !important;
}

.rdw-dropdown-wrapper{
    background: #F9AE74 !important;
    border: 1px solid #22202B !important;
}

.rdw-dropdown-wrapper:hover{
    box-shadow: 0 1px 3px #22202B !important;
    transition: .2s;
}

.rdw-dropdownoption-default{
    background: #F9AE74 !important;
}

.rdw-dropdown-optionwrapper{
    border: 1px solid #22202B !important;
}

.rdw-dropdown-optionwrapper:hover{
    box-shadow: 0 1px 3px #22202B !important;
    transition: .2s;
}

.rdw-dropdown-optionwrapper::-webkit-scrollbar {
    width: 4px;
}

.rdw-dropdown-optionwrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.rdw-dropdown-optionwrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.editor-text span[data-offset-key][style^='font-family: monospace;']:not([style=""]){
    background: #191820 !important;
}

.editor-text blockquote{
    border-left: 4px solid #F9AE74 !important;
    padding-left: 10px !important;
}

pre{
    background: #2c2b34 !important;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px #191820;
}

*::-webkit-scrollbar-thumb {
    background-color: #F9AE74;
    outline: 1px solid transparent;
}

span{
    background: transparent;
}